
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end">
      <a class="navbar-brand" href="javascript:void(0)">D&D Relojes</a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <form class="navbar-form">
          <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
              </button>
          </div>
      </form>

  </div>
  </div>
</nav>





<!-- <div class="row d-flex align-items-center">
  <nav class="navbar navbar-expand-lg mx-0">

    <div class="container justify-content-end">

      <img src="assets/logo2.svg" alt="" width="90" height="84" [routerLink]="">

    </div>

    <div class="container bd-highlight justify-content-end">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div> -->
