<nav class="navbar navbar-expand-lg mx-0">
  <div class="row d-flex align-items-center">
    <div class="col"></div>

    <div class="col d-flex me-auto p-2 justify-content-center">
      <img src="assets/logo.png" alt="" />
    </div>

    <div class="col p-2 mx-2 bd-highlight">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
