nav{
  /* background-color: rgba(0, 0, 0, 0); */
  /* background-color: #e6e0c9; */

  border-radius: 1px;
}

/* img{
  width: 10%;
  height: 15%;
} */

img{
  /* width:80%; */
  position: relative;
}

