#sidebar {
  /* height: auto; */
  /* margin-top: 1vh; */
  /* min-height: 100px;
  min-width: 100px; */
  background-color: rgb(0,0,0,0,);
  border-color: crimson;
  border-radius: 3px;
}

h3{
  color: #5a3930;
}

p
{
  cursor: pointer;
}
