<div class="row row-cols-md-4 g-4 ">
  <div class="col" *ngFor="let item of getproductos; let i">
    <div class="card rel"  routerLink="detalles">
      <img src="assets/IMG-Relojes/IMG_1157.jpg" class="card-img-top" alt="..." />
      <div class="card ">
        <div class="card-body ">
          <h5 class="card-title ">{{ item.nombre }}</h5>
          <p class="card-text "> {{ item.modelo}}</p>
        </div>
        <div class="card-footer ">
          <p class="card-text">$ {{ item.precio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
